<style>
    .btn-text { 
        background-color: #f47425; 
        width: 100%; display: flex;
        justify-content: center; 
        padding: 11.7px; 
        border: 1px solid hsl(27, 90%, 55%); 
        text-decoration: none; 
        font-size: 20px; 
        color: #fff; 
        cursor: pointer;
        transition-duration: .7s; 
        font-weight: bold; 
        } 
        
    .btn-text-new:hover::before {
        content: attr(data-price); 
    } 
        
    .btn-text-new::before { 
        content: "Mua khóa học"; 
    }

    #chat-buttons {
    position: fixed;
    bottom: 50px;
    right: 12px;
    z-index: 9980;
 
}
</style>

<div class='mt-4'>
    <div class='row'>
        {{#each courses}}
            <div class='col-sm-6 col-lg-4'>
                <div style="display: flex; flex-direction: column;" class='card card-course-item '>
                    <a href='/courses/{{this.slug}}'>
                        <img
                            class='card-img-top'
                            src='{{this.image}}'
                            alt='{{this.name}}'
                        />
                    </a>
                    <div style="min-height: 268px; display:grid; align-content: space-between;" class='card-body'>
                        <a href='/courses/{{this.slug}}'>
                            <h5 class='card-title'>{{this.name}}</h5>
                        </a>
                        <p class='card-text'>{{this.description}}</p>
                        <form method='POST' action='/banking/generateForCourse'>
                            <input
                                value='Thanh toán khóa học {{this.name}}'
                                type='text'
                                class='input-email c-12 m-12 l-12'
                                name='addInfo'
                                id='addInfo'
                                style='display: none;'
                            />
                            <input
                                value='{{this.price}}'
                                type='text'
                                class='input-email c-12 m-12 l-12'
                                name='amount'
                                id='amount'
                                style='display: none;'
                            />
                            <button
                                style='text-decoration: none;'
                                class='btn-text btn-text-new'
                                data-price='{{this.price}} vnđ'
                            ></button>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<div class="pagination">
  {{#if showPrev}}
    <a href="{{prevLink}}">Prev</a>
  {{/if}}
  {{#each pages}}
    {{#if this.isActive}}
      <span class="active">{{this.pageNum}}</span>
    {{else}}
      <a href="{{this.link}}">{{this.pageNum}}</a>
    {{/if}}
  {{/each}}
  {{#if showNext}}
    <a href="{{nextLink}}">Next</a>
  {{/if}}
</div>
{{!-- <div id="chat-buttons">
    <a href="tel:+84345571823">
        <img src="../../public/img/telephone-call.png" width="40px" height="40px" alt="Liên hệ qua số điện thoại">
    </a>
    <div id="facebook">
        <a href="https://www.facebook.com/messages/t/truong19022002/" target="_blank" class="fb-messenger-icon" style="margin-top=100px"><img src="../../public/img/facebook.png" width="40px" height="40px" /></a>
    </div>
    <a href="https://zalo.me/0337743365" target="_blank"><img src="../../public/img/zalo.png" width="40px" height="40px" style="margin-top=100px" /></a>
</div>
<div class="steps-block steps-block-red"> --}}










