<style>
 body {
  font-family: "Lato", sans-serif;
}
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 300px;
  {{!-- position: fixed; --}}
  display: flex;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #e0e0e1;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  background-color: #32353b;
}
/* Main content */
.main {
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
/* Add an active class to the active dropdown button */
.active {
  background-color: #272a31;
  color: white;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #191d1e;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.container {
  max-width: 10000px;
}
.heading {
  color: #fff;!important
}
body {
  background-color: #262626;
  {{!-- background-color: #111; --}}
}

.bg{
  background-color: #272a31;
  height: 67px;
  font-size: 17px;!important
 
}

button:focus {
  outline: none;
}
</style>

<div class='mt-4'>
    <div class='row'>
        <div class='col-lg-9 col-md-12 col-sm-12'>
            <div id="main" class='main'>
                <iframe
                    id = "supper-view"
                    style='width: 100%; height: 30.25vw;'
                    src='https://www.youtube.com/embed/{{course.videoId}}'
                    title='YouTube video player'
                    frameborder='0'
                    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
                    allowfullscreen
                ></iframe>
              <h1 id="exampleName" style="color: #fff; font-size: 28px;">Giới thiệu khóa học</h1>
            </div>
              <h1 style="color: #fff; font-size: 18px;">Comments</h1>
              <ul id="comments-list" style="color: #fff; list-style: none;"></ul>
              <form  id="comment-form"  style="display: grid;">
                <input type="text" name="accountId" value="{{loggedInUser.username}}" style="display: none;">
                <input type="text" name="exampleId" id="exampleId" style="display: none;">
                <textarea name="content" placeholder="Comment"></textarea>
                <button type="submit">Add Comment</button>
              </form>
        </div>
        <div class='col-lg-3 col-md-12 col-sm-12' style='padding-left: 0'>
            <div class='sidenav'>
                <h3 style='text-align: center;'
                    class='heading' >
                    {{course.learningId.nameCourse}}
                </h3>
                {{#each course.learningId.unitId}}
                    <button style=" border-bottom: 1px solid #181d1e;" class='dropdown-btn bg'>{{this.unitName}}
                        <i class='fa fa-caret-down'></i>
                    </button>
                    <div class='dropdown-container'>
                        {{#each this.exampleId}}
                            <a id="{{this._id}}" class="example" style="padding-left: 25px; border-bottom: 1px solid #000;" href='#' onclick="supperClick(`{{this}}`)">{{this.exName}}</a>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<script>
  const commentsList = document.getElementById('comments-list');
  const commentForm = document.getElementById('comment-form');

  // Lấy danh sách bình luận và hiển thị trên trang
  
  // Thêm bình luận mới khi người dùng nhấn submit
commentForm.addEventListener('submit', event => {
  event.preventDefault();

  const accountIdInput = commentForm.elements['accountId'];
  const exampleIdInput = commentForm.elements['exampleId'];
  const contentInput = commentForm.elements['content'];

  fetch('http://localhost:3000/comment', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      accountId: accountIdInput.value,
      exampleId: exampleIdInput.value,
      content: contentInput.value
    })
  })
    .then(response => response.json())
    .then(comment => {
      const li = document.createElement('li');
      li.innerText = `${comment.accountId}: ${comment.content}`;
      commentsList.appendChild(li);

      contentInput.value = '';
    });
});

  
</script>
<script>
  const $ = document.querySelector.bind(document)
  const $$ = document.querySelectorAll.bind(document)

  const supperClick = (example) => {
    const preData = example.split(',')
    const length = preData.length
    const videoId =preData[length-1].split(`'`)[1]
    const exName =preData[length-3].split(`'`)[1]
    const exampleId =preData[length-4].split(`'`)[0].substring(23, 47)
    console.log(exampleId)

    const main = document.getElementById('main');
    const view = document.getElementById('supper-view');
    
    main.removeChild(view);
    main.innerHTML = `<iframe
                    id = "supper-view"
                    style='width: 100%; height: 30.25vw;'
                    src='https://www.youtube.com/embed/${videoId}'
                    title='YouTube video player'
                    frameborder='0'
                    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
                    allowfullscreen
                ></iframe>
                <h1 id="exampleName" style="color: #fff; font-size: 28px;">${exName}</h1>
                `
    fetch(`http://localhost:3000/comment?exampleId=${exampleId}`)
      .then(response => response.json())
      .then(comments => {
        const commentsList = document.getElementById('comments-list');
        commentsList.innerHTML = ''; // xóa các phần tử li cũ

        comments.forEach(comment => {
          const li = document.createElement('li');
          li.innerText = `${comment.accountId}: ${comment.content}`;
          commentsList.appendChild(li); // thêm các phần tử li mới
        });
      });

        
    document.getElementById("exampleId").value = exampleId;
  }

    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;
for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>